<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django_Template</title>
</head>
<body>
<form action="{% url 'count' %}">
    <textarea name="count_the_word" id="cnt" cols="30" rows="10"></textarea>
    <input type="submit" value="Count"><br>

</form>
<button> <a href="{% url 'aboutus'%}">
        About_US</a></button>

</body>
</html>
